language: julia
dist: trusty
os:
  - linux
  - osx
  - windows

julia:
  - 1.0
  - 1.2
  - 1.3
  - nightly

branches:
  only:
  - master

matrix:
  allow_failures:
  - julia: 1.3
  - julia: nightly

notifications:
  email: false

git:
  depth: 99999999

after_success:
  # push coverage results to Coveralls Pkg.test("ReplicateBE"; coverage = true);
  - julia -e 'using Pkg; cd(Pkg.dir("ReplicateBE")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'using Pkg; cd(Pkg.dir("ReplicateBE")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
